body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(https://lh3.googleusercontent.com/pw/AJFCJaU77J2PcoOpLD6zw_bDqdtObVXB5hevNKzsRMlrVq40U2zfYiKnFZQY8Wwh5R03GWSPXgxBN_mOcgFq5Hu2PQtBBg0fXVXfDhv8vEQAfah-_0QYs7f3U32oyrT9E6lxUwbYMeNNHTU0fVgTBvD9w5Yclw=w1229-h922-s-no);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
  .header {
    background-color: #03045e;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  h1 {
    font-size: 36px;
    margin: 0;
  }
  .intro-section {
    background-color: #023e8a;
    color: #fff;
    padding: 40px;
    text-align: center;
  }
  .intro-text {
    font-size: 20px;
    line-height: 1.6;
  }
  .calendar-section {
    padding: 40px;
    text-align: center;
  }
  .calendar-frame {
    border: none;
    width: 800px;
    height: 600px;
    max-width: 100%;
  }
  .social-media-section {
    background-color: #023e8a;
    color: #fff;
    padding: 40px;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .social-media-button {
    display: inline-block;
    background-color: #ade8f4;
    color: #333;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  .social-media-button:hover {
    background-color: #333;
    color: #fff;
  }
  .social-media-button .icon {
    margin-right: 5px;
    transition: transform 0.3s ease-in-out;
  }
  .social-media-button:hover .icon {
    transform: rotate(360deg);
  }
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .footer-text {
    font-size: 14px;
  }

  .projects-section {
    background-color: #0096c7;
    color: #fff;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .projects-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .projects-section p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .projects-section .fundraiser {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .credits-section {
    background-color: #0096c7;
    color: #fff;
    padding: 40px;
    text-align: center;
  }
  
  .credits-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .credits-section p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .credits-section .author {
    font-weight: bold;
  }